# Ignore VS stuff
.vs

/server/output
/server/src/obj

modules/temperature/cpu_shared/buildstage
modules/temperature/cpu_shared/output
modules/temperature/base_module/buildstage
modules/temperature/base_module/output
driver/output
driver/buildstage
driver_bridge/buildstage
driver_bridge/output

backend/.idea
backend/target

deployment-ssh.log

packages/NUnit.3.5.0/lib
packages/NUnit.3.5.0/*.txt